<section >
   <div class="container-fluid mt-3">
    <div class="flex items-center">
        <div class="pe-3">
            <i class="fa-solid fa-chevron-left text-3xl" title="Back" routerLink=""></i>
        </div>
        <div class="">
            <h1 class="text-2xl font-medium">General</h1>
        <p class="text-sm">{{inpCont}} Words</p>
        </div>
    </div>
   <div class="flex justify-around items-center mt-4">
    <span class="cursor-pointer block lg:hidden md:hidden" *ngIf="hasChanges" (click)="onReset()"><i class="fa-solid fa-xmark hover:text-white border-1 border-gray-500 duration-500 hover:bg-gray-800 text-sm px-[6px] py-[2px] rounded-full"></i></span>
    <h1 class="text-xl font-medium " *ngIf="hasChanges">Edit Note</h1>
    <span class="cursor-pointer block lg:hidden md:hidden" *ngIf="hasChanges" (click)="editNotes(AllNotes?._id, AllNotes)"><i class="fa-solid fa-check hover:text-white border-1 border-gray-500 duration-500 hover:bg-gray-800 text-sm px-[5px] py-[2px] rounded-full"></i></span>
   </div>
    <div class="lg:w-100 p-3 my-5 mt-3 lg:bg-gray-200 md:bg-gray-200 sm:bg-transparent rounded-lg cursor-pointer lg:border-1 lg:mx-20 md:mx-4 sm:mx-3">
        <input (input)="onContentChange()" [(ngModel)]="AllNotes.title" class="w-full text-xl font-medium p-2.5 mb-[2px] bg-transparent outline-none">
        <br>
        <textarea (input)="inpLen($event)" (input)="onContentChange()" rows="6"  name="" id=""  class="resize-none p-1 px-2 bg-transparent outline-none w-full h-auto" [(ngModel)]="AllNotes.body"></textarea>
        <div class="flex justify-between items-end">
            <div class="pt-2 ps-2">
                <p class="italic pb-1 text-xs text-gray-500">Created ({{AllNotes.date | date:'EEE, d MMM h:mm a'}} )</p>
                <p class="italic text-xs text-gray-500">Accessed just now</p>
            </div>
            <div>
                <span class="cursor-pointer hidden lg:block md:block" *ngIf="hasChanges" (click)="editNotes(AllNotes?._id, AllNotes)"><i class="fa-solid fa-check hover:text-white border-1 border-gray-500 duration-500 hover:bg-gray-800 text-xl px-[6px] py-0.5 rounded-full shadow-xl"></i></span>
                
            </div>
        </div>
    </div>

    <div class="fixed bottom-0  py-3 w-full lg:px-5 md:px-5 bg-[#f3f4f6]">
        <div class="flex justify-between ">
            <div >
                <p type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"><i class="fa-solid fa-bars text-2xl"></i></p>
    
                <div class="offcanvas offcanvas-bottom h-1/2 " tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                <div class="offcanvas-body small w-auto">
                        <div class="flex justify-between">
                            <div>
                                <h5 class="offcanvas-title text-2xl font-medium" id="offcanvasBottomLabel">Noto</h5>
                                <p class="text-sm">0 Notes</p>
                            </div>
                            <div class="flex">
                                <h1 [matMenuTriggerFor]="menu" class="cursor-pointer"><i class="fa-solid fa-filter text-xl lg:me-4 "></i></h1>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>Item 1</button>
                                    <button mat-menu-item>Item 2</button>
                                  </mat-menu>
                                <h1><i class="fa-solid fa-gear mx-3 text-xl"></i></h1>
                            </div>
                        </div>
                        <div class="flex flex-wrap justify-center">
                            <div class="bg-gray-100 w-40 h-28 my-3 mx-2 border-2 border-blue-500 rounded-lg">
                                <div class="flex justify-between px-4 pt-4">
                                <h1><i class="fa-solid fa-clone text-xl  text-blue-500"></i></h1>
                                <h1 class=" text-blue-500">0</h1>
                                </div>
                                <h1 class="px-4 font-medium text-blue-500">All</h1>
                            </div>
                            <div class="bg-gray-100 w-40 h-28 my-3 mx-2 border-2 border-orange-500 rounded-lg">
                                <div class="flex justify-between px-4 pt-4">
                                    <h1><i class="fa-solid fa-clock text-xl  text-orange-500"></i></h1>
                                    <h1 class=" text-orange-500">0</h1>
                                    </div>
                                    <h1 class="px-4 font-medium text-orange-500">Scheduled</h1>
                            </div>
                            <div class="bg-gray-100 w-40 h-28 my-3 mx-2 border-2 border-red-500 rounded-lg">
                                <div class="flex justify-between px-4 pt-4">
                                    <h1><i class="fa-solid fa-lock text-xl  text-red-500"></i></h1>
                                    <h1 class=" text-red-500">0</h1>
                                    </div>
                                    <h1 class="px-4 font-medium text-red-500">Private</h1>
                            </div>
                            <div class="bg-gray-100 w-40 h-28 my-3 mx-2 border-2 border-purple-600 rounded-lg">
                                <div class="flex justify-between px-4 pt-4">
                                    <h1><i class="fa-solid fa-box-archive text-xl  text-purple-500"></i></h1>
                                    <h1 class=" text-purple-500">0</h1>
                                    </div>
                                    <h1 class="px-4 font-medium text-purple-500">Archive</h1>
                            </div>
                            <div class="bg-gray-100 w-full h-14 border-2 border-gray-600 rounded-lg mx-3 me-4 mt-3 lg:hidden md:hidden">
                                <div class="flex justify-between items-center p-3">
                                   <div class="flex justify-between items-center">
                                      <h1><i class="fa-solid fa-trash text-xl text-gray-500"></i></h1>
                                      <h1 class="font-medium  text-gray-500 ps-2">Trash</h1>
                                   </div>
                                   <div >
                                      <h1 class=" text-gray-500">0</h1>
                                   </div>
                                </div>
                              </div>
                        </div>
                </div>
                </div>
    
            </div>
            <div class="overflow-scroll pe-4">
                <div class="flex justify-between w-60 sm:w-80  ">
                    <h1><i class="fa-solid fa-bell text-xl lg:ms-0 sm:ms-4"></i></h1>
                    <h1><i class="fa-solid fa-share-nodes text-xl"></i></h1>
                    <h1><i class="fa-solid fa-magnifying-glass text-xl"></i></h1>
                    <h1><i class="fa-solid fa-copy text-xl"></i></h1>
                    <h1><i class="fa-solid fa-thumbtack text-xl"></i></h1>
                    <h1 class="cursor-pointer hover:text-red-600"  (click)="openDelete(AllNotes?._id,'0ms', '0ms')" ><i class="fa-solid fa-trash text-xl"></i></h1>
                </div>
            </div>
        </div>
    </div>
   </div>
</section>

  
