<p type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"><i class="fa-solid fa-plus text-xl"></i></p>

<div class="offcanvas offcanvas-bottom h-1/2" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <div>
        <h5 class="offcanvas-title text-2xl font-medium" id="offcanvasBottomLabel">General</h5>
        <p class="text-sm">0 Words</p>
    </div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small w-auto">
    <div class="flex w-auto">
        <div class="border w-96">
            <div class="w-96">
                <input type="text" placeholder="Title" class="p-3 mb-3 outline-none border-0 w-96">
            </div>
            <div class="">
                <input type="text" placeholder="Body" class="p-2 outline-none border-0">
            </div>
        </div>
        <div class="w-auto">
            hdfgjfdh gjhdfgjhdfhgj dfgd
        </div>
    </div>
    
  </div>
</div>
