<p type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"><i class="fa-solid fa-plus text-xl hover:text-red-500"></i></p>

<div class="offcanvas offcanvas-bottom h-1/2" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <div>
        <h5 class="offcanvas-title text-2xl font-medium" id="offcanvasBottomLabel">General</h5>
        <p class="text-sm">0 Words</p>
    </div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small w-auto">
        <div>
            <div class=" mb-3">
                <input type="text" placeholder="Title" class="p-3 border-0 outline-none w-full text-lg ">
            </div>
            <div class="mb-4">
                <input type="text" placeholder="Body" class="px-3 py-2  outline-none border-0 text-xs w-full">
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Select Category</mat-label>
                <mat-select class="absolute">
                  <mat-option value="one">Privet note</mat-option>
                  <mat-option value="two">Scheduled</mat-option>
                  <mat-option value="three">Archived</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <p class="italic pb-1 text-xs">Created just now</p>
            <p class="italic text-xs">Accessed just now</p>
        </div>
  </div>
</div>
