<p class="m-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"><i class="fa-solid  fa-plus text-xl hover:text-red-500"></i></p>

<div class="offcanvas offcanvas-bottom h-1/2" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <form [formGroup]="AddForm">
    <div class="offcanvas-header">
      <div>
          <h1 class="offcanvas-title text-2xl font-medium" id="offcanvasBottomLabel">General</h1>
          <p class="text-sm">{{InCout}} {{Letter}}</p>
      </div>
      <div>
        <button type="submit" class="btn py-1" *ngIf="AddForm.valid" (click)="getFormData()"><i class="fa-solid fa-circle-check text-2xl text-green-600"></i></button>
        <button type="button" class="btn-close text-reset text-[16px]" data-bs-dismiss="offcanvas" aria-label="Close" (click)="resetFm()"></button>
      </div>
    </div>
    <div class="offcanvas-body small w-auto">
          <div>
              <div class=" mb-3">
                  <input type="text" formControlName="title" placeholder="Title" class="px-3 pt-3 border-0 outline-none w-full text-lg ">
                  <div class="text-red-500 ps-3 text-[12px]" *ngIf="AddForm.get('title')?.invalid && AddForm.get('title')?.touched">Invalid Title</div>
              </div>
              <div class="mb-4">
                  <textarea type="text" [(ngModel)]="inputValue" (ngModelChange)="InpLength()" formControlName="body" placeholder="Body" class="px-3 pt-3  outline-none border-0 text-sm w-full"></textarea>
                  <div class="text-red-500 ps-3 text-[12px]" *ngIf="AddForm.get('body')?.invalid && AddForm.get('body')?.touched">Invalid Body</div>
              </div>
              <p class="italic pb-1 text-xs">Created just now</p>
              <p class="italic text-xs">Accessed just now</p>
          </div>
    </div>
  </form>
</div>
