<section *ngIf="!sectionStatus" class="h-screen flex justify-center items-center bg-gray-300 ">
    <!-- ----------------------------start------------------------------------------------ -->
    <div *ngIf="!logReg" class="xs:w-full xs:h-screen sm:w-full sm:h-screen md:w-[45%] md:h-[32rem] lg:w-[35%] lg:h-[32rem] rounded-2xl shadow-2xl">
        <div class="p-4 flex justify-between">
            <span routerLink="/" class="cursor-pointer" title="Back"><i class="fa-solid fa-arrow-left fa-lg"></i></span>
            <!-- <span (click)="loginRegStatus()" class="cursor-pointer" title="Rotate"><i class="fa-solid fa-rotate fa-lg"></i></span> -->
            <h1 [matMenuTriggerFor]="menus" title="menu" class="cursor-pointer"><i class="fa-solid fa-ellipsis-vertical fa-lg"></i></h1>
            <mat-menu #menus="matMenu">
                <button mat-menu-item (click)="loginRegStatus()">Create passcode</button>
                <button mat-menu-item (click)="resetCheckForm()">Reset fileds</button>
              </mat-menu>
        </div>
        <div class="p-[50px] pt-6 text-center">
            <p ><i class="fa-solid fa-user-lock fa-2xl text-8xl"></i></p>
            <div class="mt-4">
                <h1 class="text-xl font-semibold tracking-wide">Enter your passcode</h1>
                <p class="mt-2 text-gray-500">Plese enter your current Noto passcode to manage this option.</p>
            </div>
            <form [formGroup]="checkPasscodeForm" class="flex justify-center items-center mt-5">
                <div class="m-1 me-3 "><input formControlName="passcode1" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input formControlName="passcode2" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input formControlName="passcode3" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input formControlName="passcode4" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
            </form>
                <div class="mt-2 cursor-pointer"><i *ngIf="checkPasscodeForm.valid" (click)="getCheckpasscodeData()" class="fa-solid fa-arrow-right border-1 border-gray-400 py-[15px] px-[16px] rounded-full text-gray-900 hover:text-lime-50 hover:bg-gray-800 duration-500"></i></div>
            <div class="mt-4">
                <h1 class="text-gray-600 cursor-pointer hover:underline hover:text-blue-700" data-toggle="modal" data-target="#exampleModalCenter1">Forgot passcode?</h1>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered " role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Passcode Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <h3 class="text-start text-xl mb-2">Old email & Passcode</h3>
                            <div class="flex justify-between items-end">
                              <form class="" [formGroup]="forgotPasscodeform">
                                <input formControlName="email" type="text" placeholder="email id" class="lowercase w-56 h-12 text-md text-start ps-2 outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" >
                                <div class="flex mt-3">
                                  <div class="m-1 me-3 "><input formControlName="passcode1" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-100" ></div>
                                  <div class="m-1 me-3 "><input formControlName="passcode2" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-100" ></div>
                                  <div class="m-1 me-3 "><input formControlName="passcode3" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-100" ></div>
                                  <div class="m-1 me-3 "><input formControlName="passcode4" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-100" ></div>
                                </div>
                              </form>
                              <div>
                                <span (click)="resetOld()" class="me-3 cursor-pointer"><i class="fa-solid fa-circle-xmark fa-xl text-gray-950 hover:text-red-600"></i></span>
                              </div>
                            </div>

                            <div class="mt-4">
                                <h3 class="text-start text-xl mb-2">New Passcode</h3>
                            <div class="flex justify-between items-center">
                              <form class="flex" [formGroup]="NewforgotPasscodeform">
                                <div class="m-1 me-3 "><input formControlName="passcode1" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-100" ></div>
                                <div class="m-1 me-3 "><input formControlName="passcode2" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-100" ></div>
                                <div class="m-1 me-3 "><input formControlName="passcode3" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-100" ></div>
                                <div class="m-1 me-3 "><input formControlName="passcode4" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-100" ></div>     
                              </form>
                              <div>
                                <span (click)="resetnew()" class="me-3 cursor-pointer"><i class="fa-solid fa-circle-xmark fa-xl text-gray-950 hover:text-red-600"></i></span>
                              </div>
                            </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <p class="text-sm font-medium" *ngIf="!NewforgotPasscodeform.valid">Note: <span class=" text-blue-700">Passcode must be 4 Digit!</span></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal" *ngIf="forgotPasscodeform.valid && NewforgotPasscodeform.valid" (click)="forgotPasscode()" >Update passcode</button>
                        </div>
                    </div>
                    </div>
                </div>




            </div>
        </div>   
    </div>

<!-- ---------------------------------------------- registraion----------------------------------------- -->

    <div *ngIf="logReg" class="lg:w-[35%] md:w-[45%] sm:w-[100%] xs:w-[100%] lg:h-[32rem] md:h-[32rem] sm:h-[32rem] xs:h-screen rounded-2xl shadow-2xl">
        <div class="p-4 flex justify-between">
            <span routerLink="/" class="cursor-pointer" title="Back"><i class="fa-solid fa-arrow-left fa-lg"></i></span>
             <h1 [matMenuTriggerFor]="menu" title="menu" class="cursor-pointer"><i class="fa-solid fa-ellipsis-vertical fa-lg"></i></h1>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="loginRegStatus()">Unlock passcode</button>
                <button mat-menu-item (click)="resetForm()">Reset fileds</button>
              </mat-menu>
        </div>
        <div class="p-[50px] pt-6 text-center">
            <p ><i class="fa-solid fa-key fa-2xl text-8xl"></i></p>
            <div class="mt-4">
                <h1 class="text-xl font-semibold tracking-wide">Create a passcode</h1>
                <p class="mt-2 text-gray-500">Plese enter any 4 digit that you will use to unlock privet note.</p>
            </div>
            <form [formGroup]="PasscodeForm" class="mt-3">
              <div class="m-1 me-3 ">
                <input formControlName="email" type="text" placeholder="email id" class="lowercase w-56 h-12 text-md text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" >
              </div>
                <div class="flex justify-center items-center mt-3">
                  <div class="m-1 me-3 "><input formControlName="passcode1" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                  <div class="m-1 me-3 "><input formControlName="passcode2" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                  <div class="m-1 me-3 "><input formControlName="passcode3" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                  <div class="m-1 me-3 "><input formControlName="passcode4" minlength="1" maxlength="1" type="text" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                </div>
            </form>
                <div class="mt-8 cursor-pointer"><i *ngIf="PasscodeForm.valid" (click)="getpasscodeData()" class="fa-solid fa-arrow-right border-1 border-gray-400 py-[15px] px-[16px] rounded-full text-gray-900 hover:text-lime-50 hover:bg-gray-800 duration-500"></i></div>
        </div>
    </div>


    
    <!-- ---------------------------------end------------------------------------------- -->
</section>


<!-- -----------------------------privet notes-------------------------------- -->

<section *ngIf="sectionStatus">
    <section>
        <div class="p-4">
            <div class="flex justify-between items-center mb-6">
                <h1 class="text-3xl">Privet Notes</h1>
                <div class="flex items-center">

                  <p type="button" class="me-4"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"><i class="fa-solid fa-circle-plus text-xl hover:text-gray-400"></i></p>

                              <div class="offcanvas offcanvas-bottom h-1/2" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                                <form [formGroup]="newPrivetNoteForm">
                                  <div class="offcanvas-header">
                                    <div>
                                        <h5 class="offcanvas-title text-2xl font-medium" id="offcanvasBottomLabel">New privet note</h5>
                                        <!-- <p class="text-sm">{{InCout}} {{Letter}}</p> -->
                                    </div>
                                    <div>
                                      <button type="submit" class="btn py-1" *ngIf="newPrivetNoteForm.valid" (click)="getNewPrivet()"><i class="fa-solid fa-check text-2xl text-green-600"></i></button>
                                      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" (click)="resetFm()"></button>
                                    </div>
                                  </div>
                                  <div class="offcanvas-body small w-auto">
                                        <div>
                                            <div class=" mb-3">
                                                <input type="text" formControlName="title" placeholder="Title" class="px-3 pt-3 border-0 outline-none w-full text-lg ">
                                                <div class="text-red-500 ps-3 text-[12px]" *ngIf="newPrivetNoteForm.get('title')?.invalid && newPrivetNoteForm.get('title')?.touched">Invalid Title</div>
                                            </div>
                                            <div class="mb-4">
                                                <textarea type="text" [(ngModel)]="inputValue" (ngModelChange)="InpLength()" formControlName="body" placeholder="Body" class="px-3 pt-3  outline-none border-0 text-sm w-full"></textarea>
                                                <div class="text-red-500 ps-3 text-[12px]" *ngIf="newPrivetNoteForm.get('body')?.invalid && newPrivetNoteForm.get('body')?.touched">Invalid Body</div>
                                            </div>
                                            <p class="italic pb-1 text-xs">Created just now</p>
                                            <p class="italic text-xs">Accessed just now</p>
                                        </div>
                                  </div>
                                </form>
                              </div>

                    <button (click)="clearStatus()"  class="me-4" ><i class="fa-solid fa-lock hover:text-gray-400 "></i></button>
                    <button mat-stroked-button (click)="emptyPrivets()" >Delete All</button>
                </div>
                
            </div>
    
            <div *ngIf="PrivetNote.length>0; else emptyPrivet" >
              <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 ">
                <div *ngFor="let item of PrivetNote" class="p-3 rounded-md bg-gray-200 cursor-pointer" >
                  <div class="flex justify-between mb-3">
                    <h1 class="pb-2">{{item?.title.slice(0,54)}}</h1>
                    <div class="flex items-center">
                        <p class="cursor-pointer me-4" (click)="UnPrivetNote(item?._id)" > <i class="fa-solid fa-unlock"></i>
                    <h1 class="cursor-pointer">
                      <p (click)="openPrivet(item?._id,'0ms', '0ms')"><i class="fa-solid fa-trash"></i></p>
                    </h1>
                    </div>
                  </div>
                 
                    <h1>{{ item?.body?.slice(0, 100) }}..</h1>
                  <div class="mt-3 text-xs">
                    <p>{{item?.date| date:'YY - d - MMM'}}</p>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #emptyPrivet>
              <div class="text-center text-gray-500">
                <h2 class="text-xl">Your not add Privet notes!</h2>
              </div>
            </ng-template>
              
        </div>
    </section>
    
</section>
