<section *ngIf="!sectionStatus" class="h-screen flex justify-center items-center bg-gray-300 ">
    <!-- ----------------------------start------------------------------------------------ -->
    <div *ngIf="!logReg" class="lg:w-[35%] md:w-[45%] sm:w-[100%] xs:w-[100%] lg:h-[32rem] md:h-[32rem] sm:h-[32rem] xs:h-screen rounded-2xl shadow-2xl">
        <div class="p-4 flex justify-between">
            <span routerLink="/" class="cursor-pointer" title="Back"><i class="fa-solid fa-arrow-left fa-lg"></i></span>
            <span (click)="loginRegStatus()" class="cursor-pointer" title="Rotate"><i class="fa-solid fa-rotate fa-lg"></i></span>
        </div>
        <div class="p-[50px] pt-6 text-center">
            <p ><i class="fa-solid fa-user-lock fa-2xl text-8xl"></i></p>
            <div class="mt-4">
                <h1 class="text-xl font-semibold tracking-wide">Enter your passcode</h1>
                <p class="mt-2 text-gray-500">Plese enter your current Noto passcode to manage this option.</p>
            </div>
            <div class="flex justify-center items-center mt-5">
                <div class="m-1 me-3 "><input type="text" maxlength="1" minlength="1" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input type="text" maxlength="1" minlength="1" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input type="text" maxlength="1" minlength="1" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input type="text" maxlength="1" minlength="1" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
            </div>
            <div class="mt-4">
                <h1 class="text-gray-600 cursor-pointer">Forgot passcode?</h1>
            </div>
        </div>   
    </div>

<!-- ---------------------------------------------- registraion----------------------------------------- -->

    <div *ngIf="logReg" class="lg:w-[35%] md:w-[45%] sm:w-[100%] xs:w-[100%] lg:h-[32rem] md:h-[32rem] sm:h-[32rem] xs:h-screen rounded-2xl shadow-2xl">
        <div class="p-4 flex justify-between">
            <span routerLink="/" class="cursor-pointer" title="Back"><i class="fa-solid fa-arrow-left fa-lg"></i></span>
            <span (click)="loginRegStatus()" class="cursor-pointer" title="Rotate"><i class="fa-solid fa-rotate fa-lg"></i></span>
        </div>
        <div class="p-[50px] pt-6 text-center">
            <p ><i class="fa-solid fa-user-lock fa-2xl text-8xl"></i></p>
            <div class="mt-4">
                <h1 class="text-xl font-semibold tracking-wide">Create a passcode</h1>
                <p class="mt-2 text-gray-500">Plese enter any 4 digit that ypu will use to unlock privet note.</p>
            </div>
            <div class="flex justify-center items-center mt-5">
                <div class="m-1 me-3 "><input type="text" maxlength="1" minlength="1" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input type="text" maxlength="1" minlength="1" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input type="text" maxlength="1" minlength="1" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input type="text" maxlength="1" minlength="1" class="w-12 h-12 text-xl text-center outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
            </div>
            
        </div>
    </div>

    <!-- ---------------------------------end------------------------------------------- -->
</section>


<!-- -----------------------------privet notes-------------------------------- -->

<section *ngIf="sectionStatus">
    <section>
        <div class="p-4">
            <div class="flex justify-between">
                <h1 class="text-3xl mb-4">Privet Notes</h1>
                <button mat-stroked-button  >Delete All</button>
            </div>
    
            <div  >
              <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 ">
                <div  class="p-3 rounded-md bg-gray-200 cursor-pointer" >
                  <div class="flex justify-between mb-3">
                    <h1 class="pb-2">title</h1>
                    <div class="flex items-center">
                        <p class="cursor-pointer me-4" > <i class="fa-solid fa-unlock"></i>
                    <h1 class="cursor-pointer">
                      
                      <p ><i class="fa-solid fa-trash"></i></p>
                    </h1>
                    </div>
                  </div>
                 
                    <!-- <h1 *ngIf="item?.body; else noBody" >
                      {{ item?.body?.slice(0, 100) }}..
                    </h1> -->
               
                  <ng-template #noBody>
                    <h1>Todo</h1>
                  </ng-template>
                  <div class="mt-3 text-xs">
                    <!-- <p>{{item?.date| date:'YY - d - MMM'}}</p> -->
                  </div>
                </div>
              </div>
            </div>
            <ng-template #emptyTrashs>
              <div class="text-center text-gray-500">
                <h2 class="text-xl">Your not add Privet notes!</h2>
              </div>
            </ng-template>
              
        </div>
    </section>
    
</section>
