<section class="h-screen flex justify-center items-center bg-gray-300 ">
    <!-- ----------------------------start------------------------------------------------ -->
    <div *ngIf="!logReg" class="lg:w-[35%] md:w-[45%] sm:w-[100%] xs:w-[100%] lg:h-[32rem] md:h-[32rem] sm:h-[32rem] xs:h-screen rounded-2xl shadow-2xl">
        <div class="p-4 flex justify-between">
            <span routerLink="/" class="cursor-pointer" title="Back"><i class="fa-solid fa-arrow-left fa-lg"></i></span>
            <span (click)="loginRegStatus()" class="cursor-pointer" title="Rotate"><i class="fa-solid fa-rotate fa-lg"></i></span>
        </div>
        <div class="p-[50px] pt-6 text-center">
            <p ><i class="fa-solid fa-user-lock fa-2xl text-8xl"></i></p>
            <div class="mt-4">
                <h1 class="text-xl font-semibold tracking-wide">Enter your passcode</h1>
                <p class="mt-2 text-gray-500">Plese enter your current Noto passcode to manage this option.</p>
            </div>
            <div class="flex justify-center items-center mt-5">
                <div class="m-1 me-3"><input type="text"  class="w-10 py-[10px] px-4 outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input type="text" class="w-10 py-[10px] px-4 outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input type="text" class="w-10 py-[10px] px-4 outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input type="text" class="w-10 py-[10px] px-4 outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
            </div>
            <div class="mt-4">
                <h1 class="text-gray-600 cursor-pointer">Forgot passcode?</h1>
            </div>
        </div>   
    </div>

<!-- ---------------------------------------------- registraion----------------------------------------- -->

    <div *ngIf="logReg" class="lg:w-[35%] md:w-[45%] sm:w-[100%] xs:w-[100%] lg:h-[32rem] md:h-[32rem] sm:h-[32rem] xs:h-screen rounded-2xl shadow-2xl">
        <div class="p-4 flex justify-between">
            <span routerLink="/" class="cursor-pointer" title="Back"><i class="fa-solid fa-arrow-left fa-lg"></i></span>
            <span (click)="loginRegStatus()" class="cursor-pointer" title="Rotate"><i class="fa-solid fa-rotate fa-lg"></i></span>
        </div>
        <div class="p-[50px] pt-6 text-center">
            <p ><i class="fa-solid fa-user-lock fa-2xl text-8xl"></i></p>
            <div class="mt-4">
                <h1 class="text-xl font-semibold tracking-wide">Create a passcode</h1>
                <p class="mt-2 text-gray-500">Plese enter any 4 digit that ypu will use to unlock privet note.</p>
            </div>
            <div class="flex justify-center items-center mt-5">
                <div class="m-1 me-3"><input type="text"  class="w-10 py-[10px] px-4 outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input type="text" class="w-10 py-[10px] px-4 outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input type="text" class="w-10 py-[10px] px-4 outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
                <div class="m-1 me-3 "><input type="text" class="w-10 py-[10px] px-4 outline-slate-800-100 border-2 border-gray-500 rounded-lg bg-gray-200" ></div>
            </div>
            <!-- <div class="mt-4">
                <h1 class="text-gray-600 cursor-pointer" (click)="loginRegStatus()">Don't have passcode?</h1>
            </div> -->
        </div>
    </div>

    <!-- ---------------------------------end------------------------------------------- -->
</section>













<section>

</section>
