<section class="p-3 bg-gray-100  ">
    <div class="md:flex lg:flex lg:gap-6 flex-wrap">
        <div class="lg:w-52 px-3 lg:block hidden"> 
            <h2 class="text-2xl uppercase font-semibold "><span><i class="fa-solid fa-n bg-red-500 px-3 py-3"></i></span> oto</h2>
            <div class="mt-7">
                <div class="py-2 px-3 rounded-md mb-3 text-gray-800 font-medium hover:bg-blue-300 bg-blue-400 flex justify-between items-center cursor-auto"><span><i class="fa-solid fa-clone text-xl pe-2"></i>All Notes </span><span>{{AllNotes.length}}</span></div>
                <div class="py-2 px-3 rounded-md mb-3 text-gray-800 font-medium hover:bg-green-300 bg-green-400 flex justify-between items-center cursor-auto"><span><i class="fa-solid fa-list-check text-xl pe-2"></i>All Todos </span><span>{{AllTodos.length}}</span></div>
                <div routerLink="/privet" class="py-2 px-3 rounded-md mb-3 text-gray-800 font-medium hover:bg-yellow-300 bg-yellow-500 flex justify-between items-center cursor-pointer"><span><i class="fa-solid fa-lock text-xl pe-2"></i>Privet note</span><span>{{PrivetCount}}</span></div>
                <div routerLink="/archive" class="py-2 px-3 rounded-md mb-3 text-gray-800 font-medium hover:bg-violet-400 bg-violet-500 flex justify-between items-center cursor-pointer"><span><i class="fa-solid fa-box-archive text-xl pe-2"></i>Archived</span><span>{{ArchiveCount}}</span></div>
                <div routerLink="/trash" class="py-2 px-3 rounded-md mb-3 text-gray-800 font-medium hover:bg-gray-300 bg-gray-400 flex justify-between items-center cursor-pointer"><span><i class="fa-solid fa-trash text-xl pe-2"></i>Trash</span><span>{{TrashCount}}</span></div>
              </div>
        </div>
        <div class="lg:w-[45%] xl:w-[55%] 2xl:w-[60%] md:w-full px-3 ">
           <h1 class="text-3xl font-medium">All</h1>
           <h4 class="text-sm m-0">{{AllNotes.length}} Note</h4>
           <div class="flex justify-between items-end mb-1">
            <h1 class=" m-0 font-medium">{{Wish}}</h1>
            <h4 class="text-xs m-0 font-medium text-gray-500">{{curDate}}</h4>
           </div>
           <input [(ngModel)]="searchKey" type="search" placeholder="Search notes" class="sm:my-3 my-2 w-full lg:w-full md:w-full px-3 py-[8px] rounded-md outline-none bg-gray-200 " >
           <div class="flex justify-between items-center">
                <h1 class="text-xl font-medium">General</h1>
                <h1 class="w-9/12 bg-black h-1 mx-3"></h1>
                <h1>
                  <app-addnote></app-addnote>
                </h1>
           </div>
           <div class="mt-4 overflow-y-scroll lg:h-[70vh] rounded-md p-3 border-2 border-gray-300">
            <div *ngIf="isLoading" class="text-start text-gray-500 p-6">
                <h1>Loading...</h1>
              </div>
            <div *ngIf="!isLoading && AllNotes.length>0; else emptyNote" >
                <div  class="lg:w-100 border p-3 pb-0 mb-3 rounded-lg cursor-pointer"  [style.background]="getBackgroundColor(i)" routerLink="/view/{{note?._id}}" *ngFor="let note of AllNotes | search:searchKey; let i = index">
                    <p class="uppercase font-black text-sm mb-1 text-gray-500">{{note?.date | date:'d MMM'}}</p>
                    <h1 class="text-xl font-medium mb-2 overflow-hidden">{{note?.title}}</h1>
                    <p class="overflow-scroll">{{note?.body.slice(0,248)}}...</p>
                    <p class="font-black text-xs m-0 text-gray-800 italic">{{note?.date | date:'h:mm a'}}</p>
               </div>
            </div>
            <div *ngIf="!isLoading && (AllNotes | search:searchKey).length === 0 " ngClass="flex items-center h-28" >
                <p>Your search "<span class="text-rose-400">{{searchKey}}</span>"</p>
            </div>
            <ng-template #emptyNote>
                <div *ngIf="!isLoading && AllNotes.length === 0" class="text-center text-gray-500">
                    <h2 class="text-xl">You have not added any notes!</h2>
                    <div class="flex justify-center items-center mt-4">
                      <div class="bg-gray-200 flex rounded-3xl px-4 py-2 w-60 items-center">
                        <h4 class="me-2 mb-0">Please add a note</h4>
                        <app-addnote></app-addnote>
                      </div>
                    </div>
                  </div>
            </ng-template>
           </div>
        </div>
        <div class="p-4 py-0 lg:w-[30%] xl:w-[29%] 2xl:w-[24%] sm:w-full md:w-full lg:h-[97vh]">
            <h1 class="text-3xl font-medium">To-Do-List</h1>
            <div class="flex justify-between m-0 items-center">
               <p class="m-0 text-md">{{AllTodos.length}} Task</p>
               <h1 class="m-0 w-40 bg-black h-0.5 mx-3"></h1>
               <h1 class="m-0 me-3">
                <app-addtodo></app-addtodo>
               </h1>
            </div>
            <div class="overflow-y-scroll lg:h-[85vh] rounded-md p-3 mt-3 border-2 border-gray-300">
                <div *ngIf="isLoading" class="text-start text-gray-600 p-7">
                    <p>Loading...</p>
                  </div>
                <div *ngIf="!isLoading && AllTodos.length>0; else emptyTodo">
                    <div class=" lg:w-100 border mb-3 px-3 py-1 pt-3 rounded-lg" [style.background]="getBackgroundColor(i)" *ngFor="let todo of AllTodos; let i = index">
                        <div class="flex justify-between items-center">
                           <div *ngIf="todo.isLoading">Loading...</div>

                           <input type="text" *ngIf="!todo.isLoading && todo.title" (input)="onContentChange()" autocomplete="off" [(ngModel)]="todo.title" minlength="1" class="overflow-scroll bg-transparent outline-none text-lg">
                           <div class="flex">
                            <h1 [matMenuTriggerFor]="menu" title="menu" class="m-0 cursor-pointer"><i class="fa-solid fa-ellipsis-vertical fa-lg"></i></h1>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item *ngIf="hasChanges" (click)="editTodo(todo)">Update</button>
                                <button mat-menu-item (click)="openDelete(todo?._id,'0ms', '0ms')">Delete</button>
                              </mat-menu>
                           </div>
                        </div>
                        <p class="text-[9px] m-0 italic text-gray-500">Created ({{todo.date | date:'EEE, d MMM h:mm a'}})</p>
                     </div>
                </div>
                <ng-template #emptyTodo>
                    <div *ngIf="!isLoading && AllTodos.length === 0" class="text-start text-gray-600">
                        <h2 class="text-xl">You have not added any Task!</h2>
                        <div class="flex justify-center items-center mt-4">
                          <div class="bg-gray-200 flex rounded-3xl px-4 py-2 w-60 items-center">
                            <h4 class="me-2 mb-0">Please add a Task</h4>
                            <app-addtodo></app-addtodo>
                          </div>
                        </div>
                      </div>
                </ng-template>
            </div>  
        </div>
    </div>
</section>
<div class="container-fluid fixed bottom-0 py-4 lg:hidden">
   <p type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom2" aria-controls="offcanvasBottom2"><i class="fa-solid fa-bars text-2xl"></i></p>
    
                <div class="offcanvas offcanvas-bottom h-1/2 " tabindex="-1" id="offcanvasBottom2" aria-labelledby="offcanvasBottomLabel2">
                <div class="offcanvas-body small w-auto">
                        <div class="flex justify-between">
                            <div>
                                <h2 class="offcanvas-title text-2xl font-medium" id="offcanvasBottomLabel2">Noto</h2>
                                <p class="text-sm">6 Category</p>
                            </div>
                            <div class="flex">
                                <!-- <h1><i class="fa-solid fa-filter text-xl lg:me-4"></i></h1> -->
                                <h1><i class="fa-solid fa-gear mx-3 text-xl"></i></h1>
                            </div>
                        </div>
                        <div class="flex flex-wrap justify-center">
                            <div class="bg-gray-100 w-40 h-28 my-3 mx-2 border-2 border-blue-500 rounded-lg" >
                                <div class="flex justify-between px-4 pt-4" routerLink="">
                                <h1 class="m-0"><i class="fa-solid fa-clone text-xl  text-blue-500"></i></h1>
                                <h4 class=" text-blue-500">{{AllNotes.length}}</h4>
                                </div>
                                <h5 class="px-4 font-medium text-blue-500">All</h5>
                            </div>
                            <div class="bg-gray-100 w-40 h-28 my-3 mx-2 border-2 border-green-600 rounded-lg">
                                <div class="flex justify-between px-4 pt-4" routerLink="">
                                    <h1 class="m-0"><i class="fa-solid fa-list-check text-xl  text-green-500"></i></h1>
                                    <h4 class=" text-green-500">{{AllTodos.length}}</h4>
                                    </div>
                                    <h5 class="px-4 font-medium text-green-500">Todos</h5>
                            </div>
                            <div class="bg-gray-100 w-40 h-28 my-3 mx-2 border-2 border-red-500 rounded-lg">
                                <div class="flex justify-between px-4 pt-4" routerLink="/privet">
                                    <h1 class="m-0"><i class="fa-solid fa-lock text-xl  text-red-500"></i></h1>
                                    <h4 class=" text-red-500">{{PrivetCount}}</h4>
                                    </div>
                                    <h5 class="px-4 font-medium text-red-500">Private</h5>
                            </div>
                            <div class="bg-gray-100 w-40 h-28 my-3 mx-2 border-2 border-purple-600 rounded-lg">
                                <div class="flex justify-between px-4 pt-4" routerLink="/archive">
                                    <h1 class="m-0"><i class="fa-solid fa-box-archive text-xl  text-purple-500"></i></h1>
                                    <h4 class=" text-purple-500">{{ArchiveCount}}</h4>
                                    </div>
                                    <h5 class="px-4 font-medium text-purple-500">Archive</h5>
                            </div>
                            <div class="bg-gray-100 w-40 h-28 my-3 mx-2 border-2 border-gray-600 rounded-lg">
                                <div class="flex justify-between px-4 pt-4" routerLink="/trash">
                                    <h1 class="m-0"><i class="fa-solid fa-trash text-xl  text-gray-500"></i></h1>
                                    <h4 class=" text-gray-500">{{TrashCount}}</h4>
                                    </div>
                                    <h5 class="px-4 font-medium text-gray-500">Trash</h5>
                            </div>
                            
                        </div>
                </div>
                </div>
</div>
